body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 2;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

#title {
  background-color: #fb3640;
  text-align: center;
  overflow: hidden;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 5%;
  text-align: left;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

.nav-item {
  padding: 0 47px;
}

.nav-link {
  font-size: 1.1rem;
}

/* Title Container */
.intro-container {
  color: #fff;
}

.intro-header {
  font-weight: 700;
  font-size: 3rem;
  padding-top: 7%;
  line-height: 1.5;
  text-align: left;
  width: 96%;
}

.btn {
  margin-top: 5%;
}

button {
  background-color: #81b214;
  border-radius: 41px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 22px;
  font-weight: bold;
  padding: 12px 49px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
}

button:hover {
  background-color: #f2dc83;
}

button:active {
  position: relative;
  top: 1px;
}

.main-img {
  height: 530px;
}

/* Collection */
#collection {
  background-color: #f4eee8;
  color: #687980;
  text-align: center;
  padding: 5% 0;
}

.collection-header {
  color: #1b1a17;
  padding-bottom: 3%;
}

#collection img {
  background-color: #f4eee8;
  width: 80%;
}

.sneakers-name {
  display: none;
}

/* Why we?  */
#add-info {
  background-color: #f05945;
  color: #fff;
  padding: 5% 0;
  text-align: center;
}

.add-info-text {
  margin-top: 7%;
  text-align: left;
}
/* .submit-btn{
  width: 300px;
} */
.add-info-header {
  font-size: 3rem;
  padding-bottom: 3%;
}

.add-info-paragraph {
  font-weight: 500;
  font-size: 20px;
}

/* Contact */
#contact {
  background-color: #f4eee8;
  padding: 5% 10%;
  text-align: center;
}

.contact-header1 {
  padding-bottom: 5%;
}

.contact-header2 {
  font-size: 2.4rem;
  font-weight: 700;
}

.contact-form {
  display: inline-block;
  text-align: left;
}

.fill-title {
  color: #687980;
  margin: 0;
  padding-top: 3%;
}

.contact-img {
  width: 55%;
}

.trust-us-img {
  width: 55%;
}

input[type=submit] {
  border-width: 1px;
  border-radius: 13px;
  margin: 10% 0 0 15%;
  padding: 5px;
  width: 50%;
}

/* Footer */
footer {
  background-color: #ff6701;
  color: #fff;
  padding: 3% 0 2%;
  text-align: center;
}

i {
  font-size: 2.5rem;
  margin: 0 3%;
}

.fa-instagram-square {
  color: #ded1c1;
}

.fa-whatsapp-square {
  color: #25D366;
}

.fa-telegram {
  color: #0088CC;
}

.copyright {
  font-weight: 500;
  padding-top: 1%;
}

@media (max-width: 992px) {
  #title {
    text-align: center;
  }

  .intro-header {
    font-weight: 600;
    font-size: 2.5rem;
    padding-top: 7%;
    text-align: center;
    width: 100%;
  }

  .main-img {
    padding-top: 3%;
    height: 400px;
  }

  /* Collection */
  .sneakers-name {
    font-size: 1.2rem;
    font-weight: 500;
    display: inline-block;
    padding-bottom: 3%;
  }

  .sneakers-text {
    display: none;
  }

  /* Why we? */
  .add-info-text {
    margin-top: 7%;
    text-align: center;
  }

  .add-info-header {
    font-size: 2.7rem;
    padding-bottom: 3%;
  }

  .carousel-imgs {
    width: 70%;
  }

  #contact {
    text-align: center;
  }

  .contact-header1 {
    display: none;
  }

  .contact-header2 {
    padding-top: 5%;
  }

  .contact-img {
    display: none;
  }
}
